body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    width: 1480px;
    height: 1282px;
    padding-left: calc(50% - 1480px/2);
    background: rgba(0, 0, 0, 0.0001);
}
.ra {
    width: 334px;
    height: 79px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-align: center;
    color: #000000;
}
.mda {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-align: center;
    color: deepskyblue;
}
.navigation {
    width: 1283px;
    height: 72px;
    top: 117px;
    padding-top: 10px;
    background: #35444F;
}
.navbar {
    list-style: none;
}
.navbar li {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    margin-right: 40px;
    padding-left: 3px;
}
.navbar li a {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.container {
    display: flex;
    flex-wrap: unset;
    width: 1283px;
    height: 832px;
}
.box1 {
    width: 344px;
    height: 399px;
    margin-top: 40px;
    border: 1px solid #000000;
}
.vertical_menu {
    list-style: none;
    text-align: left;
}
.vertical_menu li{
    text-decoration: none;
    text-align: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu2 {
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: black;
}

.vertical_menu li :hover {
    background-color: #DBDBDB;
}
.box2 {
    width: 885px;
    height: 529px;
    margin-top: 40px;
    margin-left: 100px;
    border: 1px solid #000000;
}
.image {
    width: 320px;
    height: 381px;
    left: 297px;
    top: 75px;
    display: block;
    margin: auto;
}
.image:hover {
    transform: scale(1.2);
}
.text1 {
    width: 885px;
    height: 120px;
    top: 566px;
    text-align: left;
    margin-top: 170px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.text2 {
    width: 885px;
    height: 109px;
    left: 0px;
    top: 720px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.footer {

}
.navbar3 {
    list-style: none;
    width: 1280px;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    align-items: center;
}
.navbar3 a {
    color: #0C1927;
}
.navbar3 li {
    padding-right: 20px;
}
.navbar3 li :hover {
    color: deepskyblue;
}
.Why2 {
    text-decoration: none;
}
.text {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-left: 280px;
}

